$color-primary: #E58E00;
$color-secondary: #27AFC9;
$color-accent: #FFBB02;
$color-text: #333;
$color-light: #B0A6A5;
$color-dark: #6D5C55;
$color-white: #FFFFFF;      

$shadow: 1px 2px 5px $color-dark;

