/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | / @use '../../../node_modules/bootstrap/scss/bootstrap.scss' with  (
 * 2 | |     $primary: #27AFC9 ,
 * 3 | |     $light: #B0A6A5,
 * 4 | |     $dark:  #6D5C55,
 * 5 | | 
 * 6 | |   );
 *   | '---^
 *   '
 *   assets\scss\vendors\_custom.scss 1:1  @use
 *   assets\scss\main.scss 1:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  \250c  @use '../../../node_modules/bootstrap/scss/bootstrap.scss' with  (\a 2 \2502  \2502      $primary: #27AFC9 ,\a 3 \2502  \2502      $light: #B0A6A5,\a 4 \2502  \2502      $dark:  #6D5C55,\a 5 \2502  \2502  \a 6 \2502  \2502    );\a   \2502  \2514 \2500 \2500 \2500 ^\a   \2575 \a   assets\\scss\\vendors\\_custom.scss 1:1  @use\a   assets\\scss\\main.scss 1:1             root stylesheet";
}
