@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;

main {
    background-color: $color-secondary;
    padding-bottom: 1rem;
}
.container {
    background-color: $color-white;

}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    display: none; 
    &.active {
        display: block;
    }
}

footer {
    background-color: $color-text;
    color: $color-secondary;
}